{% extends "myapp/base.html" %}

{% block content %}
    <h1>Yahooショッピング 商品検索</h1>
    <form method="get">
        <input type="text" name="query" value="{{ query }}" placeholder="キーワードを入力">
        <input type="submit" value="検索">
    </form>

    {% for hit in hits %}
    <div class="product">
        {% if hit.code %}
        <img src="{{ hit.image.medium }}" alt="{{ hit.name }}" class="product-image">
        <div class="product-info">
            <h2 class="product-name">{{ hit.name }}</h2>
            <p class="product-price">{{ hit.price }}円</p>
            <p class="product-url">
                <a href="{{ hit.url }}" target="_blank" rel="noopener noreferrer">{{ hit.url }}</a>
            </p>
        </div>
        <form method="post" action="{% url 'myapp:add_favorite' 'yahoo' hit.code %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">お気に入りに追加</button>
        </form>
        
        {% else %}
        <p>商品コードが利用できません</p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
